/* ================== */
/* = Remeli.kz 2012 = */
/* ================== */
@font-face{
  font-family:Play;
  src: url(../fonts/Play-Regular.ttf) format("truetype");
}
body{
  background:#000;
  color:#fff;
  font-family:Play, Helvetica, Arial, sans-serif;
}
#wrapper{
  width:100%;
  min-width:1000px;
}
#wrapper a{
  color:#fff;
  text-decoration:underline;
}
#wrapper a:hover{
  color:#901027;
  cursor:pointer;
}
#header{
  height:190px;
/*  background:#ccc;*/
}
#bg-head{
  background:#7a0924;
  height:9px;
}
#bg-head-arrow{
/*  border:1px solid #ccc;*/
  background:url('../images/head-bg-arrow.png') no-repeat;
  position:relative;
  top:9px;
  left:10%;
  height:9px;
  width:18px;
}
#logo{
  width:166px;
  height:63px;
  float:left;
  margin-top:28px;
  margin-left:8.8%;
}
#ruby-bg{
  width:25%;
  height:50%;
  background:url('../images/ruby-bg.png') no-repeat;
  background-size:90%;
  float:right;
  right:50px;
  top:40px;
  position:absolute;
  z-index:-1;
/*  border:1px solid #ccc;*/
}
#head-contacts{
/*  border:1px solid #ccc;*/
  width:320px;
  float:left;
  margin-left:10%;
  margin-top:55px;
}
#head-contacts .phone-head-contact{
}
.phone-head-contact .main-phone{
  font-size:15px;
  color:#ccc;
  margin-right:1%;
}
.phone-head-contact .main-phone-area{
  font-weight:bold;
}
.feedback-link{
  margin-left:22%;
  font-size:13px;
}
.feedback-link a{
  color:#ccc !important;
}
.feedback-link a:hover{
  color:#901027 !important;
}
#content{
/*  border:1px solid #ccc;*/
  margin-top:20px;
}
#main-menu{
  float:left;
  width:240px;
/*  border:1px solid #ccc;*/
  margin-left:9%;
}
#main-menu ul li{
  margin-bottom:16px;
}
#main-menu ul li a{
  margin-bottom:16px;
  color:#eee;
  text-decoration:none;
  border-bottom:1px solid #383838;
}
#main-menu ul li a:hover{
  color:#901027;
}
#main-content{
  float:left;
/*  border:1px solid #ccc;*/
  margin-left:20px;
  width:50%;
  margin-top:-20px;
}
#main-thing{
/*  border:1px solid #ccc;*/
  height:115px;
}
.one-title{
  font-size:48px;
  text-transform:uppercase;
  letter-spacing:3px;
}
.two-title{
  font-size:48px;
  text-transform:uppercase;
  color:#9d9d9d;
  margin-top:5px;
  letter-spacing:3px;
}
.main-thing-desc{
  font-size:18px;
  color:#6b6b6b;
  letter-spacing:-0.5px;
  line-height:1.2em;
  width:70%;
  margin-bottom:10px;
}
/*teasers*/
#teasers{
  width:110%;
/*  border:1px solid #ccc;*/
  margin-top:60px;
  height:126px;
}
#teasers #ror-block{
  float:left;
  width:46%;
  height:112px;
  background:url('../images/ror-block-icon.png') no-repeat;
}
#teasers #agile-block{
  float:left;
  width:46%;
  margin-left:30px;
  height:112px;
  background:url('../images/agile-block-icon.png') no-repeat;
/*  border:1px solid #ccc;*/
}
.main-teaser-desc{
  position:relative;
  top:30px;
  left:80px;
}
.title-teaser{
  margin-bottom:18px;
  font-weight:bold;
}
.teaser-desc{
  font-family:Verdana, Arial, sans-serif;
  font-size:12px;
  color:#b57e7f;
  width:75%;
  line-height:1.2em;
}
.for-agile-desc{
  position:relative;
  top:30px;
  left:95px;
}
.clear{
  clear:both;
}
/*additional content*/
#additional-content{
  clear:both;
  margin-top:70px;
}
#new-projects{
  float:left;
  width:323px;
/*  border:1px solid #ccc;*/
  height:319px;
  margin-left:6%;
}
.title-new-projects{
  font-size:30px;
  text-align:center;
}
#link-all-projects{
  font-size:10px;
  padding-left:53px;
  margin-top:10px;
  font-family:Verdana, Arial, sans-serif;
  font-weight:bold;
}
#link-all-projects a{
  color:#e29d9e;
}
#content-new-projects{
  background:url('../images/vectot-background.png') no-repeat 50px 30px;
  width:302px;
  height:254px;
}
