/* ================== */
/* = Remeli.kz 2012 = */
/* ================== */
@font-face{font-family:'Play';font-style:normal;font-weight:normal;src:local('Play'),url(../fonts/Play-Regular.ttf) format("woff");}
body{background:#000;color:#fff;font-family:Play,Helvetica,Arial,sans-serif;}
#wrapper{width:100%;min-width:1000px;}
#wrapper a{color:#fff;text-decoration:underline;}
#wrapper a:hover{color:#901027;cursor:pointer;}
#header{height:190px;/* background:#ccc;*/}
#bg-head{height:9px;background:#7a0924;}
#bg-head-arrow{position:relative;top:9px;left:10%;width:18px;height:9px;/* border:1px solid #ccc;*/
background:url('../images/head-bg-arrow.png') no-repeat;}
#logo{float:left;margin-top:28px;margin-left:8.8%;width:166px;height:63px;}
#ruby-bg{position:absolute;top:40px;right:50px;z-index:-1;float:right;width:25%;height:50%;/* border:1px solid #ccc;*/
background:url('../images/ruby-bg.png') no-repeat;background-size:90%;}
#head-contacts{float:left;margin-top:55px;margin-left:10%;width:320px;/* border:1px solid #ccc;*/}
#head-contacts .phone-head-contact{}
.phone-head-contact .main-phone{margin-right:1%;color:#ccc;font-size:15px;}
.phone-head-contact .main-phone-area{font-weight:bold;}
.feedback-link{margin-left:22%;font-size:13px;}
.feedback-link a{color:#ccc !important;}
.feedback-link a:hover{color:#901027 !important;}
#content{margin-top:20px;/* border:1px solid #ccc;*/}
#main-menu{float:left;margin-left:9%;width:240px;/* border:1px solid #ccc;*/}
#main-menu ul li{margin-bottom:16px;}
#main-menu ul li a{margin-bottom:16px;border-bottom:1px solid #383838;color:#eee;text-decoration:none;}
#main-menu ul li a:hover{color:#901027;}
#main-content{float:left;margin-top:-20px;margin-left:20px;width:50%;/* border:1px solid #ccc;*/}
#main-thing{height:115px;/* border:1px solid #ccc;*/}
.one-title{text-transform:uppercase;letter-spacing:3px;font-size:48px;}
.two-title{margin-top:5px;color:#9d9d9d;text-transform:uppercase;letter-spacing:3px;font-size:48px;}
.main-thing-desc{margin-bottom:10px;width:70%;color:#6b6b6b;line-height:1.2em;letter-spacing:-0.5px;font-size:18px;}
/*teasers*/
#teasers{margin-top:60px;width:110%;height:126px;/* border:1px solid #ccc;*/}
#teasers #ror-block{float:left;width:46%;height:112px;background:url('../images/ror-block-icon.png') no-repeat;}
#teasers #agile-block{float:left;margin-left:30px;width:46%;height:112px;/* border:1px solid #ccc;*/
background:url('../images/agile-block-icon.png') no-repeat;}
.main-teaser-desc{position:relative;top:30px;left:80px;}
.title-teaser{margin-bottom:18px;font-weight:bold;}
.teaser-desc{width:75%;color:#b57e7f;line-height:1.2em;font-size:12px;font-family:Verdana,Arial,sans-serif;}
.for-agile-desc{position:relative;top:30px;left:95px;}
.clear{clear:both;}
/*additional content*/
#additional-content{clear:both;margin-top:70px;}
#new-projects{float:left;margin-left:6%;width:323px;height:319px;/* border:1px solid #ccc;*/}
.title-new-projects{text-align:center;text-transform:uppercase;letter-spacing:1px;font-size:27px;}
#link-all-projects{margin-top:15px;padding-left:46px;font-weight:bold;font-size:10px;font-family:Verdana,Arial,sans-serif;}
#link-all-projects a{color:#e29d9e;}
#content-new-projects{width:302px;height:254px;background:url('../images/vectot-background.png') no-repeat 50px 30px;}
#content-new-projects .one-project{position:relative;top:72px;left:25px;display:inline-block;width:100px;height:100px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;background:#878787;-o-border-radius:50px;}
#content-new-projects .one-project:hover{background:#be1522;}
#content-new-projects .one-project img{position:relative;top:10px;left:15px;width:70px;height:80px;}
#content-new-projects .two-project{position:relative;top:92px;left:95px;display:inline-block;width:100px;height:100px;/* border:1px solid #ccc;*/}
#content-new-projects .two-project:hover{opacity:0.9;}
#content-new-projects .two-project img{width:100px;height:100px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;background:#333;-o-border-radius:50px;}
#content-new-projects .three-project{position:relative;top:62px;left:105px;display:inline-block;width:100px;height:100px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;background:#2A2A2A;-o-border-radius:50px;}
#content-new-projects .three-project:hover{background:#be1522;}
#content-new-projects .three-project img{position:relative;top:25px;left:13px;}
/*etvans*/
#flag{float:left;margin-left:11%;width:479px;height:292px;/* border:1px solid #ccc;*/
background:url('../images/flagman-bg.png') no-repeat;}
.our-products-title{position:relative;top:-25px;display:inline-block;margin-left:45px;/* border:1px solid #ccc;*/
color:#363636;text-transform:uppercase;letter-spacing:1px;font-size:25px;}
#product-info{margin-top:-6px;margin-bottom:23px;margin-left:45px;/* border:1px solid #ccc;*/}
#product-info .product-title{margin-right:5px;letter-spacing:1px;font-size:48px;}
#product-info .product-addition-title{display:inline-block;margin-left:20px;width:170px;/* border:1px solid #ccc;*/
color:#9d9d9d;font-size:18px;}
.logo-product{float:left;display:inline-block;margin-left:35px;width:192px;height:123px;/* border:1px solid #ccc;*/}
.product-description{float:left;display:inline-block;margin-top:15px;margin-left:10px;width:239px;height:95px;/* border:1px solid #ccc;*/
color:#b3b3b3;line-height:1.2em;font-size:12px;font-family:Verdana,Arial,sans-serif;}
#footer-product-info{clear:both;margin-top:20px;margin-left:45px;/* border:1px solid #ccc;*/
font-size:14px;font-family:Verdana,Helvetica,sans-serif;}
.price-product{margin-left:20px;}
.product-price-label{color:#be1522;}
.more-product-link{margin-left:90px;}
.more-product-link a{padding-bottom:2px;border-bottom:1px solid #b3b3b3;color:#b3b3b3 !important;text-decoration:none !important;}
.more-product-link a:hover{color:#fff !important;}
.more-product-title{color:#be1522;}
/* footer */
#footer{clear:both;margin-top:105px;height:135px;/* border:1px solid #ccc;*/
line-height:1.4em;font-size:11px;font-family:Verdana,Arial,sans-serif;}
.footer-label{color:#776d6d;}
.footer-link{color:#916566 !important;}
.footer-link:hover{color:#901027 !important;}
#socialnetwork{margin-bottom:20px;padding-left:7%;/* border:1px solid #ccc;*/}
#socialnetwork a{margin-right:10px;text-decoration:none;}
#socialnetwork a img:hover{opacity:0.9;}
#footeraddress{float:left;margin-left:7%;width:260px;height:90px;/* border:1px solid #fff;*/}
#location-map-link{margin-top:15px;}
#footerphone{float:left;margin-left:3%;width:184px;height:90px;/* border:1px solid #fff;*/}
#footeremail{float:left;margin-left:3%;width:134px;height:90px;/* border:1px solid #fff;*/}
#footerdesign{float:left;margin-left:17%;width:90px;height:90px;/* border:1px solid #fff;*/}
/* ========= */
/* = pages = */
/* ========= */
/*team*/
.pages-content{margin-top:10px;color:#ddd;line-height:1.3em;font-size:13px;font-family:Verdana,Arial,sans-serif;}
#photos-team{margin-top:40px;/* border:1px solid #ccc;*/}
#photos-team .team-member{display:inline-block;width:165px;height:130px;}
#photos-team img{display:block;margin:0 auto;width:130px;height:135px;}
#photos-team img:hover{opacity:0.8;}
.team-member-name{margin-top:10px;height:10px;text-align:center;font-size:11px;}
.team-member-pr{margin-top:10px;text-align:center;font-style:italic;font-size:11px;}
/* offer */
.list-offers{margin-left:17px;list-style-type:square;}
.list-offers li{margin-bottom:10px;}
/*customers*/
.customer-title{margin-bottom:20px;line-height:1.3em;font-size:18px;}
/*projects*/
.our-porject{font-weight:bold;}
.projects-page a{color:#ccc !important;text-decoration:none !important;}
.projects-page a:hover{color:#fff !important;}
#contacts-info-page p{margin-bottom:10px;}
